NEXT_PUBLIC_BASE_URL=http://localhost:3000

DATABASE_URL=
PAYLOAD_SECRET=
BLOB_READ_WRITE_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

BEDS24_API_BASE_URL=https://beds24.com/api/v2
BEDS24_TOKEN=
BEDS24_REFRESH_TOKEN=
BEDS24_WEBHOOK_SECRET=

PORTIXOL_CACHE_DIR=

